<!DOCTYPE html>
<html lang="en">

<head>
  <title>Not All Who Wander Are Lost!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/246a768374.js" crossorigin="anonymous"></script>

</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img
          src="https://img.freepik.com/free-vector/mountain-logo-with-camping-hiking_227744-144.jpg?size=338&ext=jpg">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Plans</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out" id="logout"></span>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid text-center">
    <div class="row content">

      <!-- camp plans need to render here -->
      <div class="col-sm-2 sidenav" id="plansList">
        <h3><u>Saved a trail or campsite</u></h3>
        <% campPlans.forEach(function(plan) { %>
          <p>
            <a><%= plan.name %></a>
          </p>
        <% }); %>
      </div>


      <div class="col-sm-10 text-left">
        <p id="bio">
          <b>
            Welcome
          <hr>
            <p>Anyone you ask has a different reason for camping. Some like to disconnect from technology and reconnect with nature. Some families go camping to revitalize their relationships, away from all the distractions at home. Many youth organizations teach young people how to build a fire, pitch a tent, or read a compass. Camping means different things to different people.
            </p>
          <hr>
            <p id="whyCamp">
              So why do you camp?
            </p>
          </b>
        </p>


        <hr>

        <button href="#" class="btn btn-primary" type="submit" id="newad">Create new camp plan</button>

        <!-- camp site card -->
        
        <div id="card-group" class="card-group">
      
        <div class="card">
          <div class="card-body">
            <h4 class="camp-site-card"><b>Plan Names</b></h4>
            <p class="card-text">Where would you like to Go?</p>
            <form id="saveCampsiteForm">
              <div class="input-group input-group">
                <input name="campSiteName" id="camp_site" class="form-control add-item"
                  placeholder="Add Your Adventure" />
                <button class="btn btn-primary" id="addPlanBtn" type="submit">Add Plan</button>
              </div>
            </form>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><b>Gear list</b></h4>
            <p class="card-text">Lets add you some Gear!</p>
          </div>
          <div class="gearlistholder">
            <ul class="gearlist col-6" id="gearlist_ul">
              <li>boots</li>
            <!-- <button class="btn-icon up"></button>
                <button class="btn-icon down"></button>
                <button class="btn-icon remove"></button> -->
            </ul>
          </div>
          <div class="gearformHolder">
            <div class="col-12">
              <input type="text" id="addGearInput">
              <button type="button" id="addGearBtn" class="btn btn-primary">Add Item</button>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><b>Grocery Items</b></h4>
            <p class="card-text">Add you grocery items here!</p>
            <div class="grolistHolder">
              <ul class="grolist col-6" id="grolist_ul">
                <li>boots</li>
              </ul>
            </div>
            <div class="groformHolder">
              <div class="col big">
                <input type="text" id="addgroInput">
                <button type="button" id="addgroBtn" class="btn btn-primary">Add Item</button>
              </div>
            </div>
          </div>
        </div>
        <hr>
        </div>
        <br>
        <div>
          <button type="button" id="save" class="btn btn-primary btn-md">Save this Adventure</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="index.js"></script>
  <script src="campsaver.js"></script>
</body>

</html>