<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/sign-up" method="post">

        <div>
            <input type="register-email" id="register-input" name="email"/>
            <label class="register-label" for="register-input">Register Email address</label>
        </div>

        <div>
            <input type="register-password" id="register-password-input" name="password"/>
            <label class="register-password-label" for="register-password-input">Register Password</label>
        </div>

        <button type="submit" class="signIn-button">Create Account</button>

    </form>

</body>

</html>